@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    img {
        width: 100%;
        height: 50%;
    }
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    table,
    .table-striped,
    .dataframe {
        max-width: 100%;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: flex;
        justify-content: flex-end;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Action";
    }
    td:nth-of-type(2):before {
        content: "Bot Point Different";
    }
    td:nth-of-type(3):before {
        content: "Bought";
    }
    td:nth-of-type(4):before {
        content: "Cash Balance(USD)";
    }
    td:nth-of-type(5):before {
        content: "Change(percent)";
    }
    td:nth-of-type(6):before {
        content: "Coin Volumn";
    }
    td:nth-of-type(7):before {
        content: "Date-time";
    }
    td:nth-of-type(8):before {
        content: "Last Price";
    }
    td:nth-of-type(9):before {
        content: "Point";
    }
    td:nth-of-type(10):before {
        content: "Sell Point";
    }
    td:nth-of-type(11):before {
        content: "Total Profit/Loss";
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

td {
    text-align: center;
    vertical-align: middle;
}

.table-responsive {
    max-height: 300px;
}

body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
}

tbody {
    overflow: scroll;
}

.textgreen {
    color: rgb(41, 148, 87);
}