td {
    text-align: center;
    vertical-align: middle;
}

.table-responsive {
    max-height: 300px;
}

body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
}

tbody {
    overflow: scroll;
}